@use "../variables" as *;
@use "../mixins" as *;
@use "sass:color";

.footer {
    width: 100%;
    background: linear-gradient(to top, $azul-agua, $black);
    color: $text-light;
    padding: 30px 15px 15px;
    font-family: $font-text;
    text-align: center;

    &__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
    }

    h2 {
        font-family: $font-title;
        color: $secondary-color;
        margin-bottom: 10px;
        font-size: 1.4rem;
    }

    h3 {
        color: $secondary-color;
        margin-bottom: 10px;
        font-size: 1.1rem;
    }

    p {
        font-size: 0.9rem;
        color: $text-muted;
    }

    a {
        display: block;
        color: $text-light;
        text-decoration: none;
        margin: 5px 0;
        transition: 0.3s;

        &:hover {
            color: $secondary-color;
        }
    }

    i {
        margin-right: 8px;
        color: $iconos;
    }

    &__social a {
        display: inline-block;
        font-size: 1.2rem;
        margin-right: 10px;
    }

    &__bottom {
        margin-top: 25px;
        border-top: 1px solid $text-muted;
        padding-top: 15px;
        font-size: 0.8rem;
        color: $text-muted;
    }

    @include mediaquery("tablet") {
        padding: 40px 20px 20px;
        text-align: left;

        &__container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @include mediaquery("desktop") {
        &__container {
            grid-template-columns: repeat(3, 1fr);
        }
    }


}