@use "../variables" as *;
@use "../mixins" as *;

.footer {
    width: 100%;
    padding: 2rem 1rem 1rem;
        font-family: $font-text;
    text-align: center;
    color: $text-light;
    background: linear-gradient(to top, $blue-water, $black);



    &__container {
        display: grid;
                gap: 1.5rem;
        grid-template-columns: 1fr;

    }

    & h2 {
        margin-bottom: 0.5rem;
        font-family: $font-title;
        font-size: 1.4rem;
        color: $secondary-color;
        
    }

    & h3 {
         margin-bottom: 0.5rem;
        color: $secondary-color;
       
    }

    & p {
        font-size: 1.1rem;
        color: $text-muted;
    }

    & a {
        display: block;
        margin: 0.3rem 0;
        text-decoration: none;
        color: $text-light;
        transition: 0.3s;

        &:hover {
            color: $secondary-color;
        }
    }

    & i {
        margin-right: 0.5rem;
        color: $icon-color;
    }

    &__social a {
        display: inline-block;
        margin-right: 0.5rem;
        font-size: 1.2rem;
    }

    &__bottom {
        width: 100%;
        margin-top: 1.5rem;
        padding-top: 1rem;
        font-size: 0.8rem;
        text-align: center;
        border-top: 1px solid $text-muted;
        color: $text-muted;
    }

    @include mediaquery("tablet") {
        padding: 2.5rem 1.25rem 1.25rem;
        text-align: left;

        &__container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @include mediaquery("desktop") {
        &__container {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}