@use "../variables" as *;
@use "../mixins" as *;

.glide {
  position: relative;
  max-width: 100%;
  margin: 0 auto;

  &__track {
    overflow: hidden;
  }

  &__slides {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $slide-height-mobile;
    background-color: $slide-bg-color;
    box-shadow: $box-shadow-default;
    transition: box-shadow $transition-speed ease;


    &:hover {
      box-shadow: $box-shadow-hover;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: $slide-border-radius;
      transition: transform $transition-speed ease;
    }

    &:hover img {
      transform: scale($zoom-scale);
    }

    @include mediaquery("tablet") {
      height: $slide-height-tablet;
    }

    @include mediaquery("desktop") {
      height: $slide-height-desktop;
    }
  }


  &__arrows {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    transform: translateY(-50%);



    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 3rem;
      padding: 0.5em 1em;
      color: #fff;
      background: linear-gradient(135deg, #2e7d32, #66bb6a);
      border: none;
      border-radius: 50%;
      text-decoration: none;
      box-shadow: 0 4px 10px #0000004d;
      cursor: pointer;
      pointer-events: all;
      transition: all $transition-speed;


      &:hover {
        background: rgb(0 0 0 / 80%);
        transform: scale($zoom-scale);
      }
    }
  }

  &__bullets {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;

    &-bullet {
      width: 1rem;
      height: 1rem;
      margin: 0 0.3rem;
      border: none;
      border-radius: 50%;
      background-color: #ccc;
      cursor: pointer;


      &--active {
        background-color: #333;
      }
    }
  }
}