@use "../variables" as *;
@use "../mixins" as *;
@use "sass:color";

.header {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/puente.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-family: $font-title;
    color: $text-light;
    font-size: 2rem;
    font-weight: bold;

    @include mediaquery("tablet") {
      font-size: 3rem;
    }
  }
}


.header__nav {
    display: flex;
    gap: 1vh;

    .header__link {
      display: inline-block;
      padding: 8px 16px;
      background-color: $verde;
      color: $arena;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.3s;

      &:hover {
        background-color: $secondary-color;
      }

      &--highlight {
        background-color: #28a745;

        &:hover {
          background-color: #1e7e34;
        }
      }
    }
}
