@use "../variables" as *;
@use "../mixins" as *;
@use "sass:color";

.header {
  background-image: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)), url('../images/principal.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  h1 {
    font-family: $font-title;
    font-size: 2rem;
    text-align: center;
    color: $text-light;
    font-weight: bold;
    text-wrap: balance;

    @include mediaquery("tablet") {
      font-size: 2.5rem;
    }

    @include mediaquery("desktop") {
      font-size: 3rem;
    }
  }

  .header__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin: 0.5rem 0;

    i {
      font-size: 0.8rem;

      @include mediaquery("tablet") {
        font-size: 1.2rem;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    max-width: 30rem;
    padding: 1vh 0;


    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem 0.75rem;
      font-size: 0.9rem;
      background-color: $verde;
      color: $arena;
      border-radius: 1rem;
      text-decoration: none;
      transition: background-color $transition-speed;
      white-space: nowrap;

      &:hover {
        background-color: $secondary-color;
      }
    }

    &__link--highlight {
      background-color: $link-highlight;

      &:hover {
        background-color: $link-highlight-hover;
      }
    }

    @include mediaquery("tablet") {
      flex-direction: row;
      justify-content: center;
      gap: 1vh;

      &__link {
        padding: 0.6rem 1rem;
        font-size: 1rem;
      }

      &__link--highlight {
        padding: 0.6rem 1rem;
      }
    }
  }
}