{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-scss"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "selector-class-pattern": "^[a-z]([a-z0-9-]+)?(__([a-z0-9]+-?)+)?(--([a-z0-9]+-?)+){0,2}$",
    "selector-max-id": 0,
    "selector-max-combinators": 3,
    "selector-no-qualifying-type": true,

    "block-no-empty": true,
    "comment-no-empty": true,
    "comment-whitespace-inside": "always",
    "no-empty-source": true,

    "declaration-no-important": true,
    "property-no-unknown": true,

    "color-hex-length": "short",
    "color-no-invalid-hex": true,
    "color-named": "never",
    "value-keyword-case": "lower",

    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "scss/dollar-variable-pattern": "^[a-z0-9]+(-[a-z0-9]+)*$",
    "import-notation": "string",
    "max-nesting-depth": 3,
    "order/order": [
      "custom-properties",
      "dollar-variables",
      "declarations",
      "rules",
      "at-rules"
    ],
    "order/properties-order": [
      "position", "top", "right", "bottom", "left", "z-index",
      "display", 
      "flex", "flex-direction", "flex-wrap",
      "justify-content", "align-items","align-content",
      "gap","row-gap","column-gap",
      "width", "height", 
      "margin", "padding",
      "overflow", "overflow-x", "overflow-y",
      "font", "font-size", "line-height", "letter-spacing", "text-align", "color",
      "background", "border", "border-radius", "box-shadow",
      "cursor","pointer-events",
      "transition", "transform"
    ]
  }
}