<p id="caption"></p>
<div class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      <li class="glide__slide" data-caption="Vista de barcos de pescadores a través del cristal">
        <img src="./assets/images/torunos3.jpg" alt="Vista de barcos a través del cristal de una autocaravana">
      </li>
      <li class="glide__slide" data-caption="Vista panorámica del Río San Pedro">
        <img src="./assets/images/torunos4.jpg" alt="Vista panorámica del río con Valdelagrana al fondo">
      </li>
      <li class="glide__slide" data-caption="Vista de la desembocadura del Río San Pedro">
        <img src="./assets/images/torunos5.jpg" alt="Vista de la desembocadura">
      </li>
      <li class="glide__slide" data-caption="Barcos desde los que se pueden hacer rutas">
        <img src="./assets/images/torunos6.jpg" alt="Barcos en el muelle">
      </li>
      <li class="glide__slide" data-caption="Vista panorámica del muelle de Puerto Real y el club naútico">
        <img src="./assets/images/actividades1.jpg" alt="Vista panorámica del muelle con palmeras">
      </li>
      <li class="glide__slide" data-caption="Parque de caravanas del Río San Pedro">
        <img src="./assets/images/actividades2.jpg" alt="Autocaravana con puertas abiertas">
      </li>
      <li class="glide__slide" data-caption="Festival de carnavales en Puerto Real">
        <img src="./assets/images/ocionocturno1.jpg" alt="Público asistente al festival de carnavales">
      </li>
      <li class="glide__slide" data-caption="Paseo marítimo de Puerto Real a la puesta de Sol">
        <img src="./assets/images/ocionocturno2.jpg" alt="Personas paseando en la puesta de Sol">
      </li>
      <li class="glide__slide" data-caption="Bar emblemático de ocio nocturno en Puerto Real">
        <img src="./assets/images/ocionocturno3.jpg" alt="Entrada al bar nocturno en el atardecer">
      </li>
      <li class="glide__slide" data-caption="Desembocadura del Río San Pedro en la orilla de Puerto Real">
        <img src="./assets/images/principal.jpg" alt="Desembocadura del río con el muelle de Cádiz al fondo">
      </li>

    </ul>
  </div>

  <!-- Controles -->
  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="fa-solid fa-chevron-left"></i></button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i
        class="fa-solid fa-chevron-right"></i></button>
  </div>

  <!-- Paginación -->
  <div class="glide__bullets" data-glide-el="controls[nav]">
    <button data-glide-dir="=0"></button>
    <button data-glide-dir="=1"></button>
    <button data-glide-dir="=2"></button>
    <button data-glide-dir="=3"></button>
    <button data-glide-dir="=4"></button>
    <button data-glide-dir="=5"></button>
    <button data-glide-dir="=6"></button>
    <button data-glide-dir="=7"></button>
    <button data-glide-dir="=8"></button>
    <button data-glide-dir="=9"></button>
  </div>
</div>