<header class="header">
  <h1><i class="fas fa-university"></i>Parque de los Toruños y la Algaida</h1>
  <nav class="header__nav">
    <a href="#" class="header__link header__link--highlight">Inicio</a>
    <a href="#" class="header__link">Sobre nosotros</a>
    <a href="#" class="header__link">Rutas</a>
    <a href="#" class="header__link">Eventos</a>
    <a href="#" class="header__link">Galería</a>
    <a href="#" class="header__link">Contacto</a>
    <a href="#" class="header__link">Privacidad</a>
  </nav>
</header>