<header class="header">
  <h1><i class="fas fa-leaf"></i>Parque de los Toruños y la Algaida</h1>
 <h2> 
      <i class="fas fa-tree"></i>
      <i class="fas fa-seedling"></i>
      <i class="fas fa-water"></i>
      <i class="fas fa-sun"></i>
      <i class="fas fa-bicycle"></i>
      <i class="fas fa-hiking"></i>
      <i class="fas fa-map"></i> 
      <i class="fas fa-binoculars"></i>
      <i class="fas fa-dove"></i> 
      <i class="fas fa-paw"></i> 
      <i class="fas fa-mountain"></i>
      <i class="fas fa-umbrella-beach"></i>
      <i class="fas fa-route"></i></h2>
  <nav class="header__nav">
    <a href="#" class="header__link header__link--highlight">Inicio</a>
    <a href="#" class="header__link">Rutas</a>
    <a href="#" class="header__link">Eventos</a>
    <a href="#" class="header__link">Galería</a>
    <a href="#" class="header__link">Contacto</a>
    <a href="#" class="header__link">Privacidad</a>
  </nav>
</header>