@use "sass:color";

// Colores
$uoc-bg: #f5f5f5;
$uoc-corporate: #005aa7;
$primary-color: #3498db;
$secondary-color: #f1c40f;
$card-bg: #ffffff;
$text-light: #ffffff;
$text-dark: #333333;
$text-muted: #666666;
$black: #000;

// Tipografía
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "Georgia", serif;

// Media queries
$mqMinWidth: 768px;
