@use "sass:color";

// Colores
$primary-color: #3498db;
$secondary-color: #66bb6a;
$card-bg: #ffffff;
$text-light: #ffffff;
$text-dark: #333333;
$text-muted: #666666;
$black: #000000;
$verde: #2e7d32;
$arena: #f4e1c1;
$iconos: #f1c40f;
$azul-agua: #4fc3f7;
$iconos-light: #ffd700;


// Tipografía
$font-family-sans-serif: 'Poppins', Helvetica, Arial, sans-serif;
$font-family-serif: 'Baumans', serif;
// Media queries
$breakpoints: (
  "mobile": 480px,
  "tablet": 768px,
  "desktop": 1024px
);
